:root {
    --dark-blue: #0a2444;
    --gold: #c7b36e;
    /* --gold: #fafdff; */
    --medium-blue: #0d3e68;
    --cream: #f9f6e7;
    /* --cream: #fafdff; */
    --silver: #C0C0C0;
    /* --silver:#eeeeef; */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.html::-webkit-scrollbar {
  display: none;
}



body {
    background-color: var(--dark-blue);
    margin: 0px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE 10+ */
}

main {
    width: 100%;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: large;

}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.flower {
    width: 40%; 
    min-width: 250px; 
    z-index: 0;
    /* max-height: 100px; */
}

.header {
    background-color: var(--medium-blue);
    /* background-color: #133367; */
    /* height: 60px; */
    /* margin-left: 0px; */
    align-items: center;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;
    padding-left: 3%;
    padding-right: 3%;
    /* width: 100% */
}

.monogram {
    font-size: 32px;
    text-align: center;
    color: var(--gold);
    text-decoration: none;
    width: 90px;
    height: 72px;
    line-height: 72px;
}

.parent-line-side {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    /* max-width: 500px; */
}
.parent-line-stacked {
    display: none;
    text-justify: center;
}

.parent-box {
    /* width: 250px; */
    min-width: 170px;
}

.noce-box {
    margin-left:0%;
}
.chudgar-box {
    margin-right:0%;
}

.regText {
    color: var(--gold);
    font-size: large;
}

.nameText {
    font-size: xx-large;
    color: var(--gold);
}

.tab {
    display: inline-block;
    margin-left: 10%;
}

/* .main {
    display: block;
    justify-content: center;
}  */

.container {
    /* margin-left: 10%;
    margin-right: 10%; */
    margin:auto;
    margin-top: 50px;
    text-align: center;
    justify-content:center ;
    align-items: center;
    min-width: 350px;
    /* display: flex; */
    /* flex-direction: column; */
}

.vertSpacer {
    height: 20px;
}

hr {
    border: var(--gold);
    height: 2px;
    /* background: #cbad6d; */
    background-color: var(--gold);
    width: 30%;
}

.landingButton {
    width: 170px;
    /* height: 30px; */
    background-color:var(--gold);
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid var(--gold);
    margin-top: 10px;
    padding: 10px;
}

.rsvpButton {
    width: 70px;
    height: 30px;
    background-color:var(--gold);
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid var(--gold);
    margin-top: 10px;
}

.rsvpButton:hover, .landingButton:hover{
    background-color: var(--cream);
}

.rsvpLink {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: large;
}

.website-link {
    color: var(--gold);
    text-decoration: none;
    font-size: large;
}

.website-link:hover {
    color: var(--cream);
}


.insert {
    margin-top: 50px;
    width: 70%;
    max-width: 1240px;
    background-color: var(--cream);
    border: 6px solid var(--gold);
    padding-bottom: 20px;
    padding: 20px;
    min-height: 300px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insert-text {
    color: var(--dark-blue);
    text-align: center;
}

.event-text {
    font-size: x-large;
}

.no-bottom {
    margin-bottom: 0px;
}

.small {
    font-size: medium;
}

.i {
    font-style: italic;
}

.b {
    font-weight: 600;
}

.date-container {
    color: var(--dark-blue);
    text-align: center;
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
}

.side {
    display: flex;
    flex-direction: column;
}

.side-text {
    padding:2px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.line {
    /* flex: 1; */
    height: 2px;
    background-color: var(--dark-blue);
    width: 120px;
}

.vline {
    height: 50px;
    background-color: var(--dark-blue);
    width: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.day {
    font-size: 52px;
}


  


/* ====================== */
.off-screen-menu {
    background-color:  var(--medium-blue);
    /* height: 100vh; */
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: start;
    text-align: left;
    font-size: 24px;
    transition: .3s ease;
    padding-top: 100px;
    padding-bottom: 20px;
}

.off-screen-menu.active {
    right: 0;
    z-index: 99998;
}



.ham-link {
    padding-bottom: 30px;
}

/* 
.nav-link:hover {
    color: var(--cream);
} */


/* ham menu */
.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--gold);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;

    z-index: 99999;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: var(--gold);
    width: 30px;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.navHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--medium-blue);
    margin-left: 0px;
    padding: 16px;
    padding-left: 3%;
    padding-right: 3%;

    /* width: 100%; */

    border-bottom: 2px solid var(--gold)
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding-right: 25px;
    margin-top: 20px;
}

.nav-link {
    color: var(--gold);
    text-decoration: none;

    font-size: large;
}

.nav-link:hover {
    text-decoration: underline;
}


/*  */
.partyMsg {
    font-size: x-large;
    color: var(--gold);
    display: none;
}

.partyGuests {
    list-style-type:none;
    padding: 0px;
    font-size: large;
}

#errorMsg {
    display: none;
    font-style: italic;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 32px;
}

#searchBtn {
    color: var(--dark-blue);
}

.autocomplete {
    min-width: 200px;

    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: var(--dark-blue);

    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    text-align: start;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--cream);
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--gold);
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--gold) !important;
    /* color: #ffffff; */
  }

  .enterButton {
    width: 50x;
    height: 100%;
    background-color:var(--gold);
    border: 1px;
    /* border-radius: 4px; */
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid var(--gold);
    align-items: center;
    justify-content: center;
}

.enterButton:hover {
    background-color: var(--cream);
}


.email {
    min-width: 200px;
    height: 30px;
    padding-left: 10px;
    background-color: var(--cream);

    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: var(--dark-blue);

    border-radius: 0px;
    border:none;
}
