:root {
    --dark-blue: #0a2444;
    --gold: #c7b36e;
    --medium-blue: #0d3e68;
    --cream: #f9f6e7;
}

body {
    background-color: var(--dark-blue);
    margin: 0px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: medium;

}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.flower {
    width: 40%; 
    min-width: 250px; 
    /* max-height: 100px; */
}

.header {
    background-color: var(--medium-blue);
    /* background-color: #133367; */
    /* height: 60px; */
    margin-left: 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;
    padding-left: 3%;
    padding-right: 3%
}

.monogram {
    font-size: 32px;
    text-align: center;
    color: var(--gold);
    text-decoration: none;
    width: 90px;
    height: 72px;
    line-height: 72px;
}

.parent-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-width: 500px; */
}

.parent-box {
    width: 250px;
}

.noce-box {
    margin-left:0%;
}
.chudgar-box {
    margin-right:0%;
}

.regText {
    color: var(--gold);
    font-size: medium;
}

.nameText {
    font-size: xx-large;
    color: var(--gold);
}

.tab {
    display: inline-block;
    margin-left: 10%;
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    text-align: center;
    justify-content:center ;
    align-items: center;
    min-width: 350px;
    /* display: flex; */
    /* flex-direction: column; */
}

.vertSpacer {
    height: 20px;
}

hr {
    border: var(--gold);
    height: 2px;
    /* background: #cbad6d; */
    background-color: var(--gold);
    width: 30%;
}

.rsvpButton {
    width: 70px;
    height: 30px;
    background-color:var(--gold);
    border: 1px;
    /* border-radius: 4px; */
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid var(--gold);
}

.rsvpButton:hover {
    background-color: var(--cream);
}

.rsvpLink {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: medium;
}

.website-link {
    color: var(--gold);
    text-decoration: none;
    font-size: medium;
}

.website-link:hover {
    color: var(--cream);
}


.insert {
    margin-top: 50px;
    width: 70%;
    background-color: var(--cream);
    border: 6px solid var(--gold);
    padding-bottom: 20px;
    padding: 20px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insert-text {
    color: var(--dark-blue);
    text-align: center;
}

.event-text {
    font-size: x-large;
}

.date-container {
    color: var(--dark-blue);
    text-align: center;
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
}

.side {
    display: flex;
    flex-direction: column;
}

.side-text {
    padding:2px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.line {
    /* flex: 1; */
    height: 2px;
    background-color: var(--dark-blue);
    width: 120px;
}

.vline {
    height: 50px;
    background-color: var(--dark-blue);
    width: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.day {
    font-size: 52px;
}


  


/* ====================== */
.off-screen-menu {
    background-color:  var(--medium-blue);
    /* height: 100vh; */
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: start;
    text-align: left;
    font-size: 24px;
    transition: .3s ease;
    padding-top: 100px;
    padding-bottom: 20px;
}

.off-screen-menu.active {
    right: 0;
}



.nav-link {
    color: var(--gold);
    text-decoration: none;
    padding-bottom: 30px;
}

.nav-link:hover {
    color: var(--cream);
}


/* ham menu */
.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--gold);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: var(--gold);
    width: 30px;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}